/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 11, 2023, 6:37:19 PM
    Author     : Ibrahim
*/


:root {
    --main-color: #ff0000;
    --red: #CE1126 ; 
    --green: #1EB53A;
    --text: #444;
    --dark-text: #151515;
    --background-color: #ffffff;
    --white: #fff;
}

#footer {
    background: rgb(255, 0, 0);
    padding: 0 0 30px 0;
    color: #000000;
    font-size: 14px;
}

#footer .footer-top {
    background: var(--background-color);
    /*background: whitesmoke;*/
    border-bottom: 1px solid #ffffff;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info .img-log{
    height: 50%;
    width: 50%;
}

/*#footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}*/

#footer .footer-top  .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ff0000;
    color: var(--white);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .footer-info a:hover {
    background: var(--main-color);
    color: var(--dark-text);
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin:0;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--main-color);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a{
    color: #000000;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--main-color);
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fe0000;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}


#footer .copyrigh {
    width: 100%;
    text-align: center;
    color: #eee;
    padding-top: 30px;
}



#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    /*background-color: var(--background-color);*/
    background: rgba(0, 0, 0, 0.8);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 0px);
    left: calc(50% - 30px);
    border: 6px solid var(--main-color);
    border-top-color: var(--red);
    border-left-color: var(--green);
    border-right-color: var(--green);
    border-bottom-color: var(--red);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}